<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    
    <!-- bootstrap framework -->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- google webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400&amp;subset=latin-ext,latin' rel='stylesheet' type='text/css'>

    <!-- bootstrap framework -->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- custom icons -->
    <!-- font awesome icons -->
    <link href="assets/icons/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <!-- ionicons --> 
    <link href="assets/icons/ionicons/css/ionicons.min.css" rel="stylesheet" media="screen">

    <!-- Login stylesheet -->
    <link href="stylesheets/login.css" rel="stylesheet" media="screen">
        
    <!-- main stylesheet -->
    <link href="assets/css/style.css" rel="stylesheet" media="screen">
    <style type="text/css">
      
      *.icon-blue {color: #2ac5ee}
      .container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
      }
    </style>      
    </head>
    <body style="background: white">
      
    <header class="bg-color-grayLight1" style="background-color: #f6f6f6;" >
      <div class="container">
        <div class="row">

          <div id="logo-region" class="col-md-12 text-center">
            <h1 style="font-size: 2.6em;font-family: 'Bitter', serif;font-weight: bold;margin: 1.2em 0 1em; line-height: 1.1;">MaSocial</h1>
          </div> <!-- /logo-region -->

        </div> <!-- /row -->
      </div> <!-- container -->
    </header>
      
      <div id="construction-content-block" class="construction-content block">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-12 text-center" style="padding-top: 40px;">
                <i class="icon ion-ios7-time-outline icon-blue" style="line-height: 1;font-size: 140px;" ></i>
              <h2 style=" font-family: 'Bitter', serif; margin: 1.2em 0 1em;"><b style="font-weight: 700;font-size: 1.5em;">Comming Soon</b></h2>
              <p style="font-family: 'Lato', sans-serif; color: #777;">Masocial is going to be ultimate social media analytics. We request you to have patience to get the best product…</p>

            </div> <!-- /col-xs-12 -->
          </div> <!-- /row -->
        </div> <!-- /container -->
      </div> <!-- /construction-content-block -->    
        
    </body>
</html>