<nav id="side_nav">
	<ul>
		<li>
			<a href="/preview"><span class="ion-speedometer"></span> <span class="nav_title">Dashboard</span></a>
		</li>
		<li>
			<a href="/competitive_preview"><span class="fa fa-eye"></span> <span class="nav_title">Competitive Preview</span></a>
		</li>	
		<li>
			<a href="/"><span class="glyphicon glyphicon-search"></span> <span class="nav_title">Search</span></a>
		</li>
		<li>
			<a href="/competitive_search"><span class="glyphicon glyphicon-search"></span> <span class="nav_title">Competitive Search</span></a>
		</li>					
	</ul>
</nav>