<div class="col-md-12">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="heading_b topics_heading">Keywords</div>
			<div class="row">
				<div class="col-md-12">
					<div id="flot_social__wordcloud" class="chart" style="width:100%; height: 321px;">	
					<!--<img src="<%= disp_data.wordcloud_image %>" alt="wordcloud" style="width:100%; height: 330px;"/>-->
					<section id="wordcloud"> </section>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="javascripts/d3.min.js"></script>	

<script src="javascripts/d3.layout.cloud.js"></script>
<script type="text/javascript">
(function() {

	/* D3  */

	var width = document.body.clientWidth;
	var height = 350;

	var typeFace = 'Gorditas';
	var minFontSize = 2;
	var colors = d3.scale.category20b();

	var svg = d3.select('#wordcloud').append('svg')
			.attr('width', width)
			.attr('height', height)
			.append('g')
			.attr('transform', 'translate('+width/2+', '+height/2+')');

	function calculateCloud(wordCount) {
		d3.csv("<%= disp_data.wordcloud_csv %>", function(file_data){
			d3.layout.cloud()
			.size([width, height])
			.words(file_data)
			.rotate(function() { return ~~(Math.random()*2) * 90;}) // 0 or 90deg
			.font(typeFace)
			.fontSize(function(d) { return d.freq * minFontSize; })
			.on('end', drawCloud)
			.start();

		});
	}

	function drawCloud(words) {
		var vis = svg.selectAll('text').data(words);
		vis.enter().append('text')
			.style('font-size', function(d) { return d.size + 'px'; })
			.style('font-family', function(d) { return d.font; })
			.style('fill', function(d, i) { return colors(i); })
			.attr('text-anchor', 'middle')
			.attr('transform', function(d) {
			  return 'translate(' + [d.x, d.y] + ')rotate(' + d.rotate + ')';
			})
			.text(function(d) { return d.word; });
	}

	function processData(strings) { 
		if(!strings) return;

		// convert the array to a long string
		strings = strings.join(' ');
		
		// strip stringified objects and punctuations from the string
		strings = strings.toLowerCase().replace(/object Object/g, '').replace(/[\+\.,\/#!$%\^&\*{}=_`~]/g,'');
		
		// convert the str back in an array 
		strings = strings.split(' '); 

		// Count frequency of word occurance
		var wordCount = {};

		for(var i = 0; i < strings.length; i++) {
		    if(!wordCount[strings[i]])
		        wordCount[strings[i]] = 0;

		    wordCount[strings[i]]++; // {'hi': 12, 'foo': 2 ...}
		}

		var wordCountArr = [];

		for(var prop in wordCount) {
			wordCountArr.push({text: prop, size: wordCount[prop]});
		}
		
		return wordCountArr;
	}

	calculateCloud();
	
})();

</script>