<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="heading_b topics_heading">Word Cloud</div>
			<div class="row">
				<div class="col-md-12">
					<div id="flot_social__wordcloud" class="chart" style="width:100%; height: 321px;">	
					<img src="<%= disp_data.wordcloud_image %>" alt="wordcloud" style="width:100%; height: 330px;"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>