body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#searchinput {
font-style: normal;
border-radius: 3px;
font-family: 'Arimo', arial, serif;
font-weight: normal;
line-height: 25px;
font-size: 24px;
color: #999;
width: 621px;
position: relative;
height: 32px;
padding: 15px;
}

#searchbtn {
background-color: #5bb75b;
font-size: 22px;
padding: 3px;
}


a {
  color: #00B7FF;
}
.alerterror, .alertsuccess, .alertinfo{
	margin:0 auto; 
	width:auto; 
	padding: 10px 10px;
	text-align:center;
	margin-left: 40px;
	
}

.alerterror, .alertsuccess{
	background-color:red;
}
.alertsuccess{
	background-color:green;
}
.alertinfo{
	background-color:#FAA937;
}

#recent_users img, #most_influencers img{
	border: 2px solid black;
	margin: 2px;
}
